body{ 
    margin: 0;
    padding: 0;
}


.nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.nav-start{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 5vw;
    border-radius: 50%;
}

.Brand-name{
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Della Respira', serif; */
    font-family: 'Italiana', serif;
    font-size: 3.5rem;
    margin: 0px;
}

.nav-end-menu{
    display: flex;
    gap: 60px;
    justify-content: center;
    min-width: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.nav-home, .nav-login, .nav-signUp {
    padding: 0.6rem;
    background: #f6edff;
    font-size: 3rem;
    color: #212b36;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 8px 8px black;
    position: relative;
  }
  

.nav-home:hover, .nav-login:hover, .nav-signUp:hover {
    cursor: pointer;
    left: -2px;
    top: -2px;
    box-shadow: 7px 7px black;
  }

.nav-home:active, .nav-login:active, .nav-signUp:active {
    left: 1px;
    top: 1px;
    box-shadow: 4px 4px black;
  }


a{
    text-decoration: none;
    color: rgb(24, 28, 45);
}


h1{
    margin: 18px 0px;
}



.Main {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1,fr);
    grid-gap: 10px;
    background-color: #f6edff;
}



@font-face {
    font-family: 'Bison-Bold';
    src: url('fonts/Bison-Bold(PersonalUse).ttf') format('truetype'); 
    font-weight: 300; /* Optional: Define the weight */
    font-style: normal; /* Optional: Define the style */
    font-display: swap; /* This helps in faster font rendering */
}

@font-face {
    font-family: 'soul';
    src: url('/fonts/soul billani/SoulBillani.otf') format('opentype'); 
    font-weight: normal; /* Optional: Define the weight */
    font-style: normal; /* Optional: Define the style */
    font-display: swap; /* This helps in faster font rendering */
}




.text1, .text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    /* font-family: 'satisfy', cursive; */
    font-family: 'Della Respira', serif;
    /* font-family: 'Cinzel', serif; */
    font-size: 3.5rem;
    text-wrap: balance;
}


.home-img1, .home-img2{
    width: 600px; 
    height: 600px;
    margin: 0px auto;
}

.second-main{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-section {
    background-color: #f7f5ff9e; 
    width: 800px;
    padding: 30px;
    margin: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    
}

.about-heading {
    color: #ffffff;
    background-color: #3e3361;
    font-family: 'Italiana', serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 900; 
    line-height: 1.3;
    padding: 20px 0px;
}

.about-content {
    color: #000000;
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
    text-align: left; 
    font-size: 1.9rem; 
    line-height: 1.6;
}

.cta-section{
    position: relative;
    width:90%;
}

.call-out-image{
    z-index: 1; 
    width:100%;
    max-height: 700px;
}

.call-to-action {
    width: 450px;
    height:230px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-color: #fdf6e3;
    position: absolute; 
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
}

.cta-heading {
    font-family: 'Satisfy', cursive;
    color: #212b36;
    font-size: 2.6rem;
    margin: 0px;
    font-weight: 600; 
    line-height: 1.3;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
  }
  
  .cta-heading {
    animation: bounce 2s 1;
  }
  

.cta-content {
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    opacity: 0; 
    transition: opacity 3s ease-in-out;
}

/* @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  } */

  .fade-in-visible {
    opacity: 1; /* Set the opacity to 1 to fade in */
  }
  

.cta-button {
    background-color: #cb4335; 
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    
}

.cta-button:hover {
    background-color: #3e3361; 
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}


.about-section:hover, .call-to-action:hover, user-feedback-section:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Slightly larger shadow on hover for a 'lifted' effect */
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
#cards {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

.card__image{
  max-height: 250px;
  width: 250px;
  margin: auto;
  display: inline-block;
}




h1, h2, h3, h4, h5 {
  margin: 0;
  /* font-weight: 400; */
}


/* Add this CSS to your existing stylesheet */

.user-feedback-section{
  background-color: #f7f5ff9e; 
    padding: 30px;
    margin: 40px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.user-feedback-section:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.user-feedback-heading {
  color: #ffffff;
    background-color: #3e3361;
    font-family: 'Italiana', serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 900; 
    line-height: 1.3;
    padding: 20px 0px;
}

.user-feedback-content {
  color: #000000;
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
    text-align: left; 
    font-size: 1.6rem; 
    line-height: 1.6;
}



.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
  
}

.card__caption p{
  /* font-weight: 900;  */
  font-family: 'Inter', sans-serif;
}

.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.card__name {
  position: absolute;
  top: 0.3em;
  right: 2em;
  transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  /* font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif; */
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}

.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__stats th {
  /* font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif; */
  text-align: right;
  font-weight: 300;
}
.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card__abilities {
  display: flex;
  justify-content: space-between;
}
.card__ability {
  margin-top: 1em;
  flex: 1 0;
}
.card--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--normal .card__name {
  background-color: #C08A53;
}
.card--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.card--water .card__name {
  background-color: #1CB5E0;
}
.card--electric {
  background: linear-gradient(90deg, rgb(255, 222, 0) 34%, rgb(232, 255, 153) 83%);
}
.card--electric .card__name {
  background-color: #000;
}
.card--fire {
  background: linear-gradient(0deg, rgb(199, 24, 0) 10%, rgb(252, 194, 69) 100%);
}
.card--fire .card__name {
  background-color: rgb(199, 24, 0);
}
.card--psychic {
  background: linear-gradient(140deg, rgb(255, 167, 249) 0%, rgb(255, 44, 195) 39%, rgb(255, 227, 167) 100%);
}
.card--psychic .card__name {
  background: #ff2cc3;
}
.card--dark {
  background: linear-gradient(20deg, rgb(25, 25, 25) 0%, rgb(16, 11, 50) 33%, rgb(92, 2, 73) 100%);
}
.card--dark .card__name {
  background: #5c0249;
}
.card--grass {
  background: linear-gradient(140deg, rgb(196, 218, 61) 0%, rgb(110, 127, 14) 69%, rgb(39, 80, 9) 100%);
}
.card--grass .card__name {
  background: #6e7f0e;
}
.card--ice {
  background: linear-gradient(230deg, rgb(202, 234, 246) 0%, rgb(160, 234, 241) 46%, rgb(111, 184, 235) 100%);
}
.card--ice .card__name {
  background: #6fb8eb;
}
.card--fairy {
  background: linear-gradient(45deg, rgb(255, 230, 240) 0%, rgb(255, 197, 224) 34%, rgb(255, 166, 185) 71%, rgb(255, 138, 149) 100%);
}
.card--fairy .card__type {
  background: #ff8a95;
}
.card:nth-child(1) {
  transform: translateY(0px) rotate(4deg);
}
.card:nth-child(2) {
  transform: translateY(0px) rotate(-1deg);
}
.card:nth-child(3) {
  transform: translateY(0px) rotate(-4deg);
}
.card:nth-child(4) {
  transform: translateY(0px) rotate(2deg);
}
.card:nth-child(5) {
  transform: translateY(0px) rotate(0deg);
}
.card:nth-child(6) {
  transform: translateY(0px) rotate(-1deg);
}
.card:nth-child(7) {
  transform: translateY(0px) rotate(-4deg);
}
.card:nth-child(8) {
  transform: translateY(0px) rotate(1deg);
}
.card:nth-child(9) {
  transform: translateY(0px) rotate(-3deg);
}
.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  transform: translateY(-10px);
}/*# sourceMappingURL=test.css.map */






@media(max-width: 1100px){
    .nav-end-menu{
        width: 80%;
    }

    .nav-start{
        width: 85%;
    }

    .nav{
        padding-bottom: 30px;
    }
    .logo{
        width: 120px;
    }
}
/* Footer Styles */
.footer {
  background-color: #3e3361;
  color: #ffffff;
  padding: 20px 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px auto;
}

.footer-social p {
  margin: 0;
}

.footer-social a {
  margin-right: 10px; 
}

.footer-social img{
  width: 50px;
  height: 50px;
}
.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 0.4rem;
}






@media(min-width: 1100px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 20px;
    }

    .Brand-name{
        font-size: clamp(1.6rem, 2vw, 3rem);
    }

    .nav-home, .nav-login, .nav-signUp{
        font-size: clamp(1rem, 1vw, 1.5rem);
        padding: 0.3rem;
        border-radius: 5px;
        box-shadow: 5px 5px black;
    }
    .Main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "home-img1 text1" "text2 home-img2";
    }
    .home-img1{
        grid-area: home-img1;
    }
    .text1{
        grid-area: text1;
    }
    .text2{
        grid-area: text2;
    }
    .home-img2{
        grid-area: home-img2;
    }

    .home-img1, .home-img2{
        width: 400px; 
        height: 400px;
        margin: 0px auto;
    }


    .text1, .text2{
        font-size: clamp(1rem, 4vw, 2rem);
        padding: 20px 80px;
    }


    .about-section{
        width:90%;
    }

    .about-heading, .user-feedback-heading{
        font-size: clamp(2.2rem, 2vw, 2rem);
    }

    .about-content, .user-feedback-content{
        font-size: clamp(1rem, 2vw, 1.5rem);
    }


    .call-out-image{
        width: 80%;
        max-height: 700px;
        margin: 0px auto;
    }

    .call-to-action {
        width: 530px;
        height:260px;
        text-align: center;
        padding: 20px;
        margin: 20px 0;
        background-color: #fdf6e3;
        position: absolute; 
        top: 25%; /* Adjust this value to position the .call-to-action */
        left: 50%; /* Adjust this value to position the .call-to-action */
        transform: translate(-50%, -50%); /* This centers the .call-to-action over the image */
        z-index: 2;
    }

    .cta-heading{
      font-size: 35px;
    }

    .cta-content{
      font-size: 20px;
    }

}
  
@media(min-width:1400px){
    /* .Main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .gItem:nth-child(1),
    .gItem:nth-child(3) {
    grid-row: span 2;
    } */


}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}



