body, p{
    padding: 0px;
    margin: 0px;
  }
  
  @font-face {
    font-family: 'Bison-Bold';
    src: url('fonts/Bison-Bold(PersonalUse).ttf') format('truetype'); 
    font-weight: 300; 
    font-style: normal; 
    font-display: swap; 
  }
  
  @font-face {
    font-family: 'soul';
    src: url('/fonts/soul billani/SoulBillani.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal; 
    font-display: swap; 
  }
  
  .nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    
  }
  
  .nav-start{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    width: 5vw;
    border-radius: 50%;
  }
  
  .Brand-name{
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Della Respira', serif; */
    font-family: 'Italiana', serif;
    font-size: 3.5rem;
    margin: 0px;
  }
  
  .nav-end-menu{
    display: flex;
    gap: 60px;
    justify-content: center;
    min-width: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  .nav-home, .nav-login, .nav-signUp {
    padding: 0.6rem;
    background: #f6edff;
    font-size: 3rem;
    color: #212b36;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 8px 8px black;
    position: relative;
  }
  
  
  .nav-home:hover, .nav-login:hover, .nav-signUp:hover {
    cursor: pointer;
    left: -2px;
    top: -2px;
    box-shadow: 7px 7px black;
  }
  
  .nav-home:active, .nav-login:active, .nav-signUp:active {
    left: 1px;
    top: 1px;
    box-shadow: 4px 4px black;
  }
  
  a{
    text-decoration: none;
    color: rgb(24, 28, 45);
  }
  
  h1{
    margin: 18px 0px;
  }

  form{
    padding: 0;
    margin: 0px;
  }

/* 
.vertical .progress-bar {
  float: left;
  height: 300px;
  width: 40px;
  margin-right: 10px;
}

.vertical .progress-track {
  position: relative;
  width: 35px;
  height: 100%;
}

.vertical .progress-fill {
  position: relative;
  background: rgba(48, 135, 169, 0.47);
  height: 50%;
  width: 35px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.rounded .progress-track,
.rounded .progress-fill {
  border-radius: 3px;
}
select{
    width: 250px;
    height: 35px;
    margin-top: 20px;
    border: 1px solid blue;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 18px;
} */

.start-container{
  display: flex;
  gap: 100px;
  padding: 50px;
}


.profile-container {
    display: flex;
    gap: 100px;
}

.details-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.profile-image img {
    width: 200px;
}

.profile{
    margin-bottom: 18px;
    /* font-family: 'Italiana', serif; */
    /* font-family: 'Della Respira', serif;; */
    font-family: 'Italiana', serif;
    font-size: 3rem;
    margin: 0px;
}

.profile-actions {
    display: flex;
    gap: 10px;
    height: 33px;
}

.profile-actions input, .profile-actions a{
    background-color: #3da414;
    border: none;
    padding: 6px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
}

.personal-details-heading {
    margin: 0;
    font-size: xx-large;
}

.details-container {
    display: flex;
}

.personal-details {
    width: 700px;
}

.personal-details-table{
    font-family: 'Inter', sans-serif;;
}


.similar-container .heading{
  margin: 0px;
  font-family: 'Italiana', serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

.similar-users{
  flex: 2; 
  display: flex; 
  justify-content: center;
  gap: 80px;
  font-family: 'Inter', sans-serif;
}

.similar-users .userName, .similar-users .emailId{
  margin-bottom: 10px;
}


.forms-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.form-upload, .form-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 10px;
    padding: 20px;                                 
    background-color: #8492b036;
}

.form-update{
  justify-content: center;
}
.form-upload form, .form-update form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-upload h3, .form-update h3{
    font-family: 'Italiana', serif;
    font-size: 25px;
}

.form-upload input[type="text"], 
.form-upload input[type="file"], 
.form-upload select,  
.form-update input[type="text"],
.form-update select{
    width: 220px;
    padding: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-upload input[type="file"]{
    border: none;
}
.form-upload input[type="submit"], .form-update input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100px;
}

.form-upload input[type="submit"]:hover, .form-update input[type="submit"]:hover {
    background-color: #45a049;
}

.form-upload label {
    display: block;
    background-color: #ddd;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 200px;
}

.form-upload label:hover {
    background-color: #ccc;
}

.form-upload select,  .form-update select{
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="%234CAF50" d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.form-upload input[type="text"]:focus, 
.form-upload input[type="file"]:focus, 
.form-upload select:focus,
.form-update input[type="text"]:focus,
.form-update select:focus {
    border-color: #4CAF50;
    outline: none;
}


select, input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#Healthprob-select {
    display: block;
}

.prescription-files{
  display: flex;
  flex-direction: column;
}

.other-files{
  display: flex;
  flex-direction: column;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border: 1px solid rgb(139, 139, 139);
  width: max-content;
  padding: 0px 70px;
  padding-bottom: 20px;
}

.file-section p{
  font-size: 18px;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: #f3f3f3;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}




.file-section p:hover{
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
}


.prescription-section a, .download-section a{
  font-size: 18px;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: #f3f3f3;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  display: block;
  text-align: center;
}

.prescription-section a:hover, .download-section a:hover{
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
}


.upload-time-section p, .file-name-section p{
  font-size: 18px;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: #f3f3f3;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}


.upload-time-section p:hover, .file-name-section p:hover{
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
}

@media(max-width: 1100px){
    .nav-end-menu{
        width: 80%;
    }
  
    .nav-start{
        width: 85%;
    }
  
    .nav{
        padding-bottom: 30px;
    }
    .logo{
        width: 120px;
    }

    .start-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .similar-container .heading{
      text-align: center;
    }
}

@media(min-width: 1100px){

    .nav{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 20px;
  }

  .Brand-name{
      font-size: clamp(1.6rem, 2vw, 3rem);
  }

  .nav-home, .nav-login, .nav-signUp{
      font-size: clamp(1rem, 1vw, 1.5rem);
      padding: 0.3rem;
      border-radius: 5px;
      box-shadow: 5px 5px black;
  }
}


@media screen and (max-width: 768px) {
  body {
      font-size: 18px;
  }

  /* .start-container{
    padding: 10px;
  } */
}

