body{
    background-color: white;
}

.nav{
    background-color: #ace796;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 16px;
    top: 0;
    left: 0;
}

.nav-start{
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo{
  border-radius: 50%;
}

.Brand-name{
    font-family: 'Agbalumo', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Della Respira', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Italiana', serif;
}

.nav-end-menu{
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: #2fa405;
    border-radius: 40px;
    padding: 0.8em;
    font-size: 1.2em;
}


a{
    text-decoration: none;
    color: rgb(24, 28, 45);
    text-shadow: 3px 2px 4px #ace796;
}


a:hover{
    font-size: 1.05em;
    text-shadow: 3px 2px 4px #2a3d24;
}

.nav-end-menu:hover{
    background-color: #34bf02;
}


.signup-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

h1{
    margin: 18px 0px;
}


form{
    color: black;
    padding: 1em 2.4em;
    font-size: 1.1em;
}




input[type="text"],input[type="password"],input[type="email"],input[type="date"]{
    width: 250px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #ecfbe6;
    outline-style: groove;
}

input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 0.8rem;
}



input{
    margin-bottom: 20px;
}

input[type="radio"]{
    margin-top: 20px;
}

input[type="checkbox"]{
    margin-bottom: 8px;
}


.input-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


select{
    margin-left: 6rem;
    font-size: 1.3rem;
    border-radius: 8px;
    background-color: #ecfbe6;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.2rem;
    grid-gap: 0.5rem;
    background-color: #ecfbe6;
    padding: 0.7em;
    border-radius: 20px;
  }


button{
    display: block;
    margin: 0px auto;
    font-size: 1.2em;
    padding:10px 18px;
    border-radius: 38px;
    color: white;
    background-color: black;
}



.signUp-button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #2fa405;
    transition: all 0.2s ease;
  }
  .signUp-button:active {
    transform: scale(0.96);
  }
  .signUp-button:before,
  .signUp-button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .signUp-button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #2fa405 20%, transparent 30%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #2fa405 15%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .signUp-button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #2fa405 15%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%),
      radial-gradient(circle, #2fa405 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }


p{
    text-align: center;
}


.para-2{
    text-align: center;
}

@media(min-width: 1100px){
    .signup-container{
        flex-direction: row;
    }
    .img-class{
        width: 500px;
    }
    form{
        border-left: 1.5px solid rgb(162, 162, 162);
    }
    label{
        margin-right: 0.8em;
    }
}
  
@media(min-width:1400px){
    .text-input-containers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2em;
    }

    .menu{
        width: 430px;
    }
}

/* Default font size */
body {
    font-size: 16px;
}

/* Increase font size for larger screens */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}



