body, p{
    padding: 0px;
    margin: 0px;
  }
  
  @font-face {
    font-family: 'Bison-Bold';
    src: url('fonts/Bison-Bold(PersonalUse).ttf') format('truetype'); 
    font-weight: 300; 
    font-style: normal; 
    font-display: swap; 
  }
  
  @font-face {
    font-family: 'soul';
    src: url('/fonts/soul billani/SoulBillani.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal; 
    font-display: swap; 
  }
  
  .nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    
  }
  
  .nav-start{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    width: 5vw;
    border-radius: 50%;
  }
  
  .Brand-name{
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Della Respira', serif; */
    font-family: 'Italiana', serif;
    font-size: 3.5rem;
    margin: 0px;
  }
  
  .nav-end-menu{
    display: flex;
    gap: 60px;
    justify-content: center;
    min-width: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  .nav-home, .nav-login, .nav-signUp {
    padding: 0.6rem;
    background: #f6edff;
    font-size: 3rem;
    color: #212b36;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 8px 8px black;
    position: relative;
  }
  
  
  .nav-home:hover, .nav-login:hover, .nav-signUp:hover {
    cursor: pointer;
    left: -2px;
    top: -2px;
    box-shadow: 7px 7px black;
  }
  
  .nav-home:active, .nav-login:active, .nav-signUp:active {
    left: 1px;
    top: 1px;
    box-shadow: 4px 4px black;
  }
  
  a{
    text-decoration: none;
    color: rgb(24, 28, 45);
  }
  
  h1{
    margin: 18px 0px;
  }

  form{
    padding: 0;
    margin: 0px;
  }

  .heading-text h2{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
  }




  @media(max-width: 1100px){
    .nav-end-menu{
        width: 80%;
    }
  
    .nav-start{
        width: 85%;
    }
  
    .nav{
        padding-bottom: 30px;
    }
    .logo{
        width: 120px;
    }

    .start-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .similar-container .heading{
      text-align: center;
    }
}

@media(min-width: 1100px){

    .nav{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 20px;
  }

  .Brand-name{
      font-size: clamp(1.6rem, 2vw, 3rem);
  }

  .nav-home, .nav-login, .nav-signUp{
      font-size: clamp(1rem, 1vw, 1.5rem);
      padding: 0.3rem;
      border-radius: 5px;
      box-shadow: 5px 5px black;
  }
}


@media screen and (max-width: 768px) {
  body {
      font-size: 18px;
  }

  /* .start-container{
    padding: 10px;
  } */
}


