{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Indian Health Network</title>
    <link rel="icon" href="frontend\static\logo.png" type="image">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Cinzel&family=Della+Respira&family=Inter:wght@300&family=Italiana&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="nav">
        <div class="nav-start">
            <img class="logo" src="{% static 'logo.png' %}" width="50px" alt="logo">
            <h2 class="Brand-name">Indian Health Network</h2>
        </div>
         
        <div class="nav-end-menu">
            <div class="nav-home"><a href="{% url 'home' %}">Home</a></div>
            <div class="nav-login"><a href="{% url 'login' %}">LogIn</a></div>
            <div class="nav-signUp"><a href="{% url 'signup' %}">SignUp</a></div>
        </div>
    </div> 

    <div class="Main">
        <img class = "home-img1 gItem" alt="picture of two people reaching out to each other" src="{% static 'home-image1.png' %}">
        <div class="text1 gItem">
            You don't have to struggle in Silence.<br> You are not Alone in this.
        </div>
        <img class="home-img2 gItem" alt="community image" src="{% static 'home-image2.png' %}" >
        <div class="text2 gItem">
            You can be un-silent. You can live well with <br>any health condition, as long as you <br>open up to somebody about it.
        </div>
        
    </div>

</body>
</html>
