<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>LogIn | IndianHealthNetwork</title>
    <link rel="icon" href="\static\logo.png" type="image">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Cinzel&family=Della+Respira&family=Inter:wght@300&family=Italiana&family=Satisfy&family=Stylish&display=swap" rel="stylesheet">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}


    <div class="nav">
      <div class="nav-start">
          <img class="logo" src="{% static 'logo.png' %}" alt="logo">
          <h2 class="Brand-name">Indian Health Network</h2>
      </div>
       
      <div class="nav-end-menu">
          <div class="nav-home"><a href="{% url 'home' %}">Home</a></div>
          <div class="nav-login"><a href="{% url 'login' %}">LogIn</a></div>
          <div class="nav-signUp"><a href="{% url 'signup' %}">SignUp</a></div>
      </div>
  </div>  


    <div class="container">

      <img class="login-bg" alt="community image" src="{% static 'login-bg.png' %}" >

      <div class="login-container">

        <p class="para-1">
          <div class="one">Hey, Good to see you again!</div>
          <div class="two">Please LogIn to continue.</div>
          <br> 
        </p>
  
        <form action="/login" method="POST">
          {% csrf_token %}
          <!-- <label>Username</label> -->
          <input type="text" placeholder="Enter your Username" name="username"/>
          <!-- <label>Email</label> -->
          <input type="email" placeholder="Enter your Email" id="e_mail" name="email" />
          <!-- <label>Password</label> -->
          <input type="password" placeholder="Enter Password" name="pswd1" />
          <br>
          <button type="submit" value="Submit" >Log In</button>
        </form>
        
        <p class="para-2" >
          Don't have an account yet? <a href="{% url 'signup' %}">SignUp Here</a>
        </p>
        </div>
      </div>
  </body>
</html>

