<html>
    {% load static %}
    <head>
        <title>Profile | IndianHealthNetwork</title>
        <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Cinzel&family=Della+Respira&family=Inter:wght@300&family=Italiana&family=Satisfy&family=Stylish&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="nav">
            <div class="nav-start">
                <img class="logo" src="{% static 'logo.png' %}" alt="logo">
                <h2 class="Brand-name">Indian Health Network</h2>
            </div>
             
            <div class="nav-end-menu">
                <div class="nav-home"><a href="{% url 'home' %}">Home</a></div>
                <div class="nav-login"><a href="{% url 'login' %}">Logout</h3></a></div>
                <!-- <div class="nav-signUp"><a href="{% url 'signup' %}">SignUp</a></div> -->
            </div>
        </div>   

        <div class="start-container">
            <div class="profile-container">
                <div class="profile-image">
                    <img src="{% static 'profile-img.png' %}" class="profile">
                </div>
                
                <div class="details-container">
                    <div class="profile">My Profile</div>
                    <table class="personal-details-table">
                        <tr>
                            <td>Full Name</td>
                            <td>: {{usera.Full_Name}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>: {{usera.Gender}}</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>: {{usera.Username}}</td>
                        </tr>
                        <tr>
                            <td>Email Id</td>
                            <td>: {{usera.Email}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>: {{usera.DateOfBirth}}</td>
                        </tr>
                        <tr>
                            <td>Blood Group</td>
                            <td>: {{usera.BloodGroup}}</td>
                        </tr>
                        <tr>
                            <td>Health problems</td>
                            <td>: {{usera.health_problems}}</td>
                        </tr>
                    </table>
                    <div class="profile-actions">
                        <form action="/refresh" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{usera.Username}}">
                            <input type="submit" name="refresh" value="Refresh">
                        </form>
                        <a href="">Edit Profile</a>
                         
                        <!-- <button class="button"><span>Daily Analysis</span></button> -->
                    </div>
                </div>
            </div>
            
            <div class="similar-container">
                <div class="heading">Similar to You</div>
                <div class="similar-users">
                    <div>
                        {% for user in usera.cluster_users %}
                        <div class="userName">{{user}}</div>
                        {% endfor %}
                    </div>
                    <div >
                        {% for eml in usera.cluster_emails %}
                        <div class="emailId">{{eml}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        


        <div class="user">
            <div class="forms-container">
                <div class="form-upload">
                    <form enctype="multipart/form-data" action="/storage" method="POST">
                        {% csrf_token %}
                        <h3>Upload the Medical files</h3>
                        <input type="hidden" name="username" value="{{usera.Username}}"><br>
                        <label><input type="file" name="p_image" id="file" class="inputfile" /></label><br>
                        <input type="text" name="file_name" placeholder="Save as (File Name)"><br>
                        <select name="folder" id="Healthprob-select">
                            <option value="">--Please choose file type--</option>
                            <option value="prescriptions">Prescriptions</option>
                            <option value="Other Files">Other-Files</option>
                        </select>
                        <br>
                        <input type="submit" value="Upload">
                    </form>
                    <br>
                </div>

                <div class="form-update">
                    <form action="/Data" method="POST">
                        {% csrf_token %}
                        <h3>Update today's Readings :</h3>
                        <input type="hidden" name="username" value="{{usera.Username}}"><br>
                        <select name="readings" id="Healthprob-select">
                            <option value="">--Choose what to Update--</option>
                            <option value="Blood Pressure">Blood Pressure</option>
                            <option value="Blood Sugar">Blood Sugar</option>
                            <option value="Heart Rate">Heart Rate</option>
                            <option value="Weight">Weight</option>
                        </select>
                        <br>
                        <input type="text" name="value" placeholder="Enter the value" class="inputfile" required><br>
                        <input type="submit" value="Update">
                        <br>
                    </form>
                    <form action="/visualize" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{usera.Username}}"><br>
                                <input type="submit" name="Visualize" value="Visualize">
                            </form>
                </div>
            </div>

              
            <div class="prescription-files">
                <h2>Prescription Files</h2>
                <div class="flex-container">
                    <div class="file-section">
                        <h3>File Name</h3>
                        <div class="file-container">
                            {% for i in usera.pfile_names %}
                            <div class="file-card">
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="prescription-section">
                        <h3>Prescriptions</h3>
                        <div class="prescription-container">
                            {% for i in usera.prescriptions_urls %}
                            <div class="prescription-card">
                                <a href='{{i}}'>
                                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12ZM12 6.25C12.4142 6.25 12.75 6.58579 12.75 7V12.1893L14.4697 10.4697C14.7626 10.1768 15.2374 10.1768 15.5303 10.4697C15.8232 10.7626 15.8232 11.2374 15.5303 11.5303L12.5303 14.5303C12.3897 14.671 12.1989 14.75 12 14.75C11.8011 14.75 11.6103 14.671 11.4697 14.5303L8.46967 11.5303C8.17678 11.2374 8.17678 10.7626 8.46967 10.4697C8.76256 10.1768 9.23744 10.1768 9.53033 10.4697L11.25 12.1893V7C11.25 6.58579 11.5858 6.25 12 6.25ZM8 16.25C7.58579 16.25 7.25 16.5858 7.25 17C7.25 17.4142 7.58579 17.75 8 17.75H16C16.4142 17.75 16.75 17.4142 16.75 17C16.75 16.5858 16.4142 16.25 16 16.25H8Z" fill="#1C274C"/>
                                        </svg>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="upload-time-section">
                        <h3>Upload-Time</h3>
                        <div class="upload-time-container">
                            {% for i in usera.prescriptions_times %}
                            <div class="upload-time-card">
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="other-files">
                <h2>Other Files</h2>
                <div class="flex-container">
                    <div class="file-name-section">
                        <h3>File Name</h3>
                        <div class="file-name-container">
                            {% for i in usera.ofile_names %}
                            <div class="file-name-card">
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="download-section">
                        <h3>Download</h3>
                        <div class="download-container">
                            {% for i in usera.others_urls %}
                            <div class="download-card">
                                <a href="{{i}}" target="_blank">
                                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12ZM12 6.25C12.4142 6.25 12.75 6.58579 12.75 7V12.1893L14.4697 10.4697C14.7626 10.1768 15.2374 10.1768 15.5303 10.4697C15.8232 10.7626 15.8232 11.2374 15.5303 11.5303L12.5303 14.5303C12.3897 14.671 12.1989 14.75 12 14.75C11.8011 14.75 11.6103 14.671 11.4697 14.5303L8.46967 11.5303C8.17678 11.2374 8.17678 10.7626 8.46967 10.4697C8.76256 10.1768 9.23744 10.1768 9.53033 10.4697L11.25 12.1893V7C11.25 6.58579 11.5858 6.25 12 6.25ZM8 16.25C7.58579 16.25 7.25 16.5858 7.25 17C7.25 17.4142 7.58579 17.75 8 17.75H16C16.4142 17.75 16.75 17.4142 16.75 17C16.75 16.5858 16.4142 16.25 16 16.25H8Z" fill="#1C274C"/>
                                        </svg>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="upload-time-section">
                        <h3>Upload-Time</h3>
                        <div class="upload-time-container">
                            {% for i in usera.others_times %}
                            <div class="upload-time-card">
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>
