<html>
    {% load static %}
    <head>
        <title>Profile | IndianHealthNetwork</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    </head>
    <body>
        <div class="nav">
            <h2 class="Brand-name">Indian Health Network</h2>
            <img class="logo" src="{% static 'logo.png' %}" alt="logo"> 

            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'login' %}">LogIn</a></li>
                <li><a href="{% url 'signup' %}">SignUp</a></li>
            </ul>
        </div> 
        <p>My Profile</p>
        
        <table  width="100%">
                    <tr>
                        <td>
                            <div class="image">
                                <center><img src="{% static 'logo.png' %}" width="300px" class="profile"></center>
                            </div>
                        </td>
                        <td >
                            <table width="400px">
                                <captio><h3  style="padding:26px ;">Similar to You</h3></captio>
                                <tr>
                                    <td>
                                        {% for user in usera.cluster_users %}
                                        <h3>{{user}}</h3>
                                        {% endfor %}
                                    </td>
                                    <br>
                                    <td>
                                        {% for eml in usera.cluster_emails %}
                                        <h3>{{eml}}</h3>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <form action="/refresh" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{usera.Username}}"><br>
                                <input type="submit" name="refresh" value="Refresh">
                            </form>
                                        <br>
                                        <a href=""><h3>Edit Profile</a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{% url 'login' %}">Logout</h3></a>
                                        <button class="button" style="vertical-align:middle"><span>Daily Analysis</span></button>
                        
                                    </div>
                                    
                        </td>
                    </tr>
                </table>
                <br>
                <p style="margin: 0; font-size: xx-large; ">Personal Details</p>
        <div class="Details">
        <table class="personal">
            <tr>
                <td>
                    <table width="700px" class="tablea">
                        <tr>
                            <td>Full Name </td>
                            <td>: {{usera.Full_Name}}</td>
                        </tr>
                        <tr>
                            <td>Gender </td>
                            <td>: {{usera.Gender}}</td>
                        </tr>
                        <tr>
                            <td>Username </td>
                            <td>: {{usera.Username}}</td>
                        </tr>
                        <tr>
                            <td>Email Id </td>
                            <td>: {{usera.Email}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth </td>
                            <td>: {{usera.DateOfBirth}}</td>
                        </tr>
                        <tr>
                            <!-- <td>Age</td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>Blood Group </td>
                            <td>: {{usera.BloodGroup}}</td>
                        </tr>
                        <tr>
                            <td>Health problems </td>
                            <td>: {{usera.health_problems}}</td>
                        </tr>
                    </table>
                </td>
            </tr>   
        </table>
        </div>
        <div class="user">
        
            <table width="100%">
                <tr>
                    <td>
                        <form enctype="multipart/form-data" action="/storage" method="POST">
                            {% csrf_token %}
                        <h3>Upload the Medical Prescriptions</h3>
                        <input type="hidden" name="username" value="{{usera.Username}}"><br>
                        <label><input type="file" name="p_image" id="file" class="inputfile" /></label><br>
                        <input type="text" name="file_name" placeholder="Save as (File Name)"><br>
                        <select name="folder" id="Healthprob-select">
                            <option value="">--Please choose file type--</option>
                            <option value="prescriptions">Prescriptions</option>
                            <option value="Other Files">Other-Files</option>
                        </select>
                        <br>
                        <input type="submit" value="Upload">
                        </form>
                        <br>
                    </td>
                    <td>
                        <form action="/Data" method="POST">
                            {% csrf_token %}
                        <h3>Update today's Readings :</h3>
                        <br>
                        <input type="hidden" name="username" value="{{usera.Username}}"><br>
                        <br>
                        <h2>Choose what to Update</h2>
                        <br>
                        <select name="readings" id="Healthprob-select">
                            <option value="">--Please choose an option--</option>
                            <option value="Blood Pressure">Blood Pressure</option>
                            <option value="Blood Sugar">Blood Sugar</option>
                            <option value="Heart Rate">Heart Rate</option>
                            <option value="Weight">Weight</option>
                        </select>
                        <br>
                        <input type="text" name="value" placeholder="Enter the value" class="inputfile" required><br>
                        <input type="submit" value="Update">
                        <br>
                        </form>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
              <td>
                <table  style="border-collapse: collapse; border: 2px solid black; margin-left: 10px; border-radius: 8px; width :100%">
                    <caption><h2>Prescription Files</h2></caption>
                    <tr>
                        <td>
                        <table>
                            <tr>
                            <h3 style="text-align:center; padding-top:10px">File Name</h3>
                            <br>
                            <hr>
                            <br>
                            <div class="container">
                                <div class="row">
                                    {% for i in usera.pfile_names %}
                                    <div class="col-md-4">
                                        <div class="card">
                                         <p style="text-align:center ;">{{i}}</p><br>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </tr>
                        </table>
                        </td>
                        <td>
                        <table>
                            <tr>
                            <h3 style="text-align:center; padding-top:10px"> Prescriptions</h3>
                            <br>
                            <hr>
                            <br>
                            <div class="container">
                                <div class="row">
                                    {% for i in usera.prescriptions_urls %}
                                    <div class="col-md-4">
                                        <div class="card">
                                           <center><a href= '{{i}}' >View</a></center>
                                            <br>
                                           
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </tr>
                        </table>
                        </td>
                        <td>
                        <table>
                            <tr>
                            <h3 style="text-align:center; padding-top:10px;">Upload-Time</h3>
                            <br>
                            <hr>
                            <br>
                            <div class="container">
                                <div class="row">
                                    {% for i in usera.prescriptions_times %}
                                    <div class="col-md-4">
                                        <div class="card">
                                           <p style="text-align:center ;">{{i}}</p><br>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
            </td>
        <td style="padding-left:12px ;"> 
    <table style="border-collapse: collapse; border: 2px solid black; margin-left: 10px; border-radius: 8px; width:100%">
        <caption><h2>Other Files</h2></caption>
        <tr>
            <td>
                <h3 style="text-align:center; ">File Name</h3>
                <br>
                <hr>
                <br>
                <div class="container">
                    <div class="row">
                        {% for i in usera.ofile_names %}
                        <div class="col-md-4">
                            <div class="card">
                               <p style="text-align:center ;">{{i}}</p> <br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </td>
            <td>
                <h3 style="text-align:center; ">Download</h3>
                <br>
                <hr>
                <br>
                <div class="container">
                    <div class="row">
                        {% for i in usera.others_urls %}
                        <div class="col-md-4">
                            <div class="card">
                                <p style="text-align:center ;"><a href="{{i}}" target="_blank">View</a></p><br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td>
                <h3 style="text-align:center; ">Upload-Time</h3>
                <br>
                <hr>
                <br>
                <div class="container">
                    <div class="row">
                        {% for i in usera.others_times %}
                        <div class="col-md-4">
                            <div class="card">
                               <p style="text-align:center ;">{{i}}</p> <br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </td>
</tr>
</table>
    </div>
</div>


            

<div>
    <br>


    </body>
</html>
