<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>SignUp | IndianHealthNetwork</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"> -->

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Cinzel&family=Della+Respira&family=Inter:wght@300&family=Italiana&display=swap" rel="stylesheet">
  </head>
  
<body>
  <div class="nav">
    <div class="nav-start">
      <img class="logo" src="{% static 'logo.png' %}"  width="50px" "logo"> 
      <h2 class="Brand-name">Indian Health Network</h2>
    </div>
    
    <div class="nav-end-menu">
        <div class="nav-home"><a href="{% url 'home' %}">Home</a></div>
        <div class="nav-login"><a href="{% url 'login' %}">LogIn</a></div>
        <div class="nav-signUp"><a href="{% url 'signup' %}">SignUp</a></div>
    </div>
  </div>
  <div class="signup-container">
      <div>
        <img class="img-class" src="{% static 'communityImg.png' %}" alt="image" width="300px">
      </div>
      <div class="form">  
        <h1>Start your journey  👇</h1>
        <form action="/signup" method="POST">
          {% csrf_token %}
          <div class="text-input-containers">
            <div class="input-container">
              <label for="uname">Username</label>
              <input type="text" placeholder="Enter your Username" name="uname" id="uname"/>
            </div>
            <div class="input-container">
              <label for="fname">Full Name</label>
              <input type="text" placeholder="Enter your Full Name" name="fname" id="fname" />
            </div>
            <div class="input-container">
              <label for="email">Email Id</label>
              <input type="email" placeholder="Enter your Email Id" name="email" id="email" />
            </div>
            <div class="input-container">
              <label for="dob">Date of Birth</label>
              <input type="date" name="dob" id="dob"/>
            </div>
            <div class="input-container">
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" />
            </div>
            <div class="input-container">
              <label for="cpsw">Confirm Password</label>
              <input type="password" placeholder="Confirm Password" name="cpsw" id="cpsw" />
            </div>
          </div>
          
          <div class="input-container">
            <label for="Gender">Gender<br>
              <input type="radio" name="Gender" value="Male" id="male"/>
              <label>Male</label>
              <input type="radio" name="Gender" value="Female" id="female">
              <label>Female</label>
              <input type="radio" name="Gender" value="Others" id="others">
              <label>Others</label>
              <input type="radio" name="Gender" value="no_mention" id="no_mention">
              <label>Prefer not to say</label>
            </label>
          </div>
          <div class="input-container">
            <label for="bloodgroup">
              Blood Group
            <select id='bbox' name="bloodgroup" id="bloodgroup">
              <option>A<sup>+</sup></option>
              <option>A<sup>-</sup></option>
              <option>B<sup>+</sup></option>
              <option>B<sup>-</sup></option>
              <option>AB<sup>+</sup></option>
              <option>AB<sup>-</sup></option>
              <option>O<sup>+</sup></option>
              <option>O<sup>-</sup></option>   
            </select> 
            </label>
          </div>
          <div class="input-container-cb">
            <p>Your Health Issues : </p>
            <div class="checkbox-grid">
  
              <label for="Healthproblem1">
                <input type="checkbox" id="Healthproblem1" name="Healthprob[]" value="Blood Pressure">Blood Pressure</label>
            
              <label for="Healthproblem2">
                <input type="checkbox" id="Healthproblem2" name="Healthprob[]" value="Diabetes">Diabetes</label>

              <label for="Healthproblem3"><input type="checkbox" id="Healthproblem3" name="Healthprob[]" value="Heart Disease">Heart Disease</label>
            
              <label for="Healthproblem4"><input type="checkbox" id="Healthproblem4" name="Healthprob[]" value="Cancer">Cancer</label>
            
              <label for="Healthproblem5"><input type="checkbox" id="Healthproblem5" name="Healthprob[]" value="Asthma">Asthma</label>
            
              <label for="Healthproblem6"><input type="checkbox" id="Healthproblem6" name="Healthprob[]" value="Kidney Disease">Kidney Disease</label>
            
              <label for="Healthproblem7"><input type="checkbox" id="Healthproblem7" name="Healthprob[]" value="Liver Disease">Liver Disease</label>
            
              <label for="Healthproblem8"><input type="checkbox" id="Healthproblem8" name="Healthprob[]" value="Thyroid">Thyroid</label>
            
              <label for="Healthproblem9"><input type="checkbox" id="Healthproblem9" name="Healthprob[]" value="Arthritis">Arthritis</label>
            
              <label for="Healthproblem10"><input type="checkbox" id="Healthproblem10" name="Healthprob[]" value="Depression">Depression</label>
            
              <label for="Healthproblem11"><input type="checkbox" id="Healthproblem11" name="Healthprob[]" value="Anxiety">Anxiety</label>
            
              <label for="Healthproblem12"><input type="checkbox" id="Healthproblem12" name="Healthprob[]" value="Obesity">Obesity</label>
              
            </div>    
          </div>
          <p>By creating an account you are accepting our <a href="{% url 'terms' %}">Terms and Conditions</a>.</p>
          <button class = "signUp-button" type="submit" value="SignUp">SignUp</button>
          <p class="para-2">
            Already have an account? <a href="{% url 'login' %}">LogIn Here</a>
          </p>
          </div>   
        </form>
      </div>
      
    </div>
    
    <script>
      const button = document.querySelector(".signUp-button");
      button.addEventListener("click", (e) => {
        e.preventDefault;
        button.classList.add("animate");
        setTimeout(() => {
          button.classList.remove("animate");
        }, 600);
      });
    </script>
  </body>
</html>
